@charset "UTF-8";

/*patrick isola site cv exo phase de prod*/
/*reset eric meyer*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*mes styles pisola*/

body {
  	margin: auto;
	font: 1em Roboto, sans-serif;
    background-color: #302A40;
}

header {
	background: url(../img/popolasca.jpg) center center no-repeat;
	height:240px;
    margin-top: 10px;
    margin-right: 10px;
	margin-left: 10px;
}

#enveloppe{
    width: 1260px;
    margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
    background-color: #A791A5;
    border: 1px solid red;
    -webkit-box-shadow: 3px 3px 1px 1px #4262FF;
    box-shadow: 3px 3px 1px 1px #4262FF;
}
#menu {
    color: #fff;
    width: 360px;
	background-color: #d83c3c;
    float: left;
    margin-left: 10px;
    padding: 10px;
    
}
#contenuPrincipal {
    width: 840px;
	background-color: #EFD3C2;
    float: right;
    margin-right: 10px;
    padding: 10px;
}

footer {
    margin-right: 10px;
	margin-left: 10px;
    margin-bottom: 10px;
    color:white;
    background: #C27B4A;
}

.clear {
	clear: both;
}

/*headder*/
header h1 {
	color: #fff;
	margin: 10px;
}

/*footer*/


/*les tableaux*/

table {
    background-color: deepskyblue;
}
caption {
    background:orange;
}
thead {
    background: red;
    color: white;
}

th {
    background-color: goldenrod;
    color: white;
}


/*formulaires*/


form {
    background-color: darkgreen;
}