@charset "UTF-8";/* www.autojauneparis.com patrick isola www.isola.name */body {
  width: auto!important;
  margin: auto!important;
  background-color: #fff!important;
  color: #000!important;
	font: 10pt "Times New Roman", Times, serif;
}
p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol {
  color: #000!important;
  margin: auto!important;
}
.print {
  display: block; /* affichage des éléments de classe print */
}
p, blockquote {
  orphans: 3; /* pas de ligne seule en bas */
  widows: 3; /* pas de ligne seule en haut */
}
blockquote, ul, ol {
  page-break-inside: avoid; /* pas de coupure dans ces élements */
}
h1 {
  page-break-before: always; /* chaque titre commence sur une nouvelle page */
}
h1, h2, h3, caption {
  page-break-after: avoid; /* pas de saut après ces éléments */
}
a {
  color: #000!important;
  text-decoration: underline!important;
}
a[href]:after {
  content: " (" attr(href) ")"; /* affichage des URL des liens */
}


#header, #header h1, #sidebar1, #menu, #menu ul, #formCherche, h1, a {
	display: none;
}

#container, #mainContent {
	
width: auto;
border: 0;
margin: 0 5%;
padding: 0;
float: none !important;
}

#tableau_imprim {
	-webkit-border-radius: none;
	border-radius: none;
	width: auto;
	border-style: none;
}td {	padding-bottom: 0.2cm;	padding-top: 0.5cm;}
td, th {	border-right: none;	border-left:none;	border-bottom: 1px solid #333;}
h2 {
	border: none;
}

img {
	width: 100%;
	height: 100%;
}