

/*mes styles*/

body {
  	width: 1260px;
    background-color: pink;
}

#contenu{
    background-color: lavender;
}
#menu {
    width: 400px;
	background-color: red;
    float: left;
    
}
#contenuPrincipal {
    width: 860px;
	background-color: darkseagreen;
    float: right;}

.clear {
	clear: both;
}
/*l'en-tête*/header {	background: url(../img/popolasca.jpg) center center no-repeat;	height:240px;}header h1 {	color: #fff;	margin: 10px;}
/*les tableaux*/

table {
    background-color: deepskyblue;
}
caption {
    background:orange;
}
thead {
    background: red;
    color: white;
}

th {
    background: red;
    color: white;
}


/*formulaires*/


form {
    background-color: darkgreen;
}